@import '../global-mixins/global.scss';

.button-style {
   background-color: $secondary-light;
   padding: 12px 20px;
   color: $primary-light;
   border: none;
   font-weight: 700;
   font-family: inherit;
   font-size: 1rem;
   border-radius: 4px;

   i {
      margin-right: 5px;
   }
}
