@import '../global-mixins/global.scss';

.button-style {
   background-color: $secondary-light;
   padding: 12px 20px;
   color: $primary-light;
   border: none;
   font-weight: 700;
   font-family: inherit;
   font-size: 1rem;
   border-radius: 4px;
   cursor: pointer;

   &:hover {
      background: linear-gradient(
         152deg,
         rgba(243, 75, 44, 1) 0%,
         rgba(213, 206, 71, 1) 100%
      );
   }

   i {
      margin-right: 5px;
   }
}
