@import '../global-mixins/global.scss';

.expertise {
   background-color: $primary-dark;
   padding: 2rem 0;
   margin-top: -1px;
   color: $primary-light;

   h3:first-child {
      font-size: 1.75rem;
      text-align: center;
   }

   .expertise-cards {
      display: flex;
      gap: 2rem;
      margin-top: 3rem;
      flex-wrap: wrap;

      .card {
         flex: 1;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 1.5rem;
      }

      p {
         text-align: center;
         line-height: 1.7rem;
      }
   }
}

@include media(xs) {
   .expertise {
      padding: 1rem 0;

      .expertise-cards {
         margin-top: 2rem;
         flex-direction: column;
         align-items: center;
         gap: 3rem;

         .card {
            width: 320px;
         }
      }
   }
}

@include media(sm) {
   .expertise {
      padding: 1rem 0;

      .expertise-cards {
         margin-top: 2rem;
         flex-direction: column;
         align-items: center;
         gap: 3rem;

         .card {
            width: 400px;
         }
      }
   }
}
