.hero {
   .container-xl {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
   }

   .hero-image {
   }

   .hero-details {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
   }
}
