@import '../global-mixins/global.scss';

.hero {
   padding-top: 30px;

   .container-xl {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      justify-content: center;
      gap: 1rem;
   }

   .hero-image {
      text-align: center;

      img {
         width: 330px;
      }
   }

   .hero-details {
      display: flex;
      gap: 28px;
      flex-direction: column;
      align-items: center;
      padding: 0 8px;

      .logo {
         max-width: 240px;
      }

      .title {
         display: flex;
         flex-direction: column;
         align-items: center;

         h1 {
            font-size: 2.375rem;
            line-height: 1;
            margin: 0;
            color: $primary-dark;

            span {
               font-weight: 300;
            }
         }

         h3 {
            font-size: 1rem;
            margin: 0;
            margin-top: 0.25rem;
         }
      }

      p {
         max-width: 512px;
         text-align: center;
         margin: 0;
      }

      .hero-link {
         font-size: 0.75rem;
         display: flex;
         align-items: start;

         span {
            margin-right: 4px;
         }

         i {
            font-size: 2rem;
            margin: 0 4px;
         }
      }
   }
}

@include media(md) {
   .hero {
      .container-xl {
         gap: unset;

         .hero-image {
            img {
            }
         }
         .hero-details {
            align-items: flex-end;

            h1 {
               font-size: 2.7rem;
            }

            p {
               width: 300px;
            }
         }
      }
   }
}

@include media(lg) {
   .hero {
      padding: unset;

      .container-xl {
         gap: unset;
         justify-content: space-around;

         .hero-image {
            img {
               width: 100%;
            }
         }
         .hero-details {
            padding-top: 4rem;
            align-items: flex-end;
            gap: 3rem;

            .title {
               align-items: flex-end;

               h1 {
                  font-size: 4rem;
                  word-wrap: break-word;
               }

               h3 {
                  font-size: 1.5rem;
                  margin-top: 1.2rem;
               }
            }
            p {
               width: 500px;
               text-align: right;
            }
         }
      }
   }
}

@media screen and (max-width: 1135px) {
   .hero {
      .container-xl {
         .hero-image {
            img {
               width: 415px;
            }
         }
      }
   }
}
